body {
  background-color: DEDEDE;
	}
	
        header {
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            border-bottom: 5px solid #eee;
            height: 80px;
        }
        header h1 {
            font-size: 50px;
            color: #a33c2f;
            font-weight: bold;
        }
        .title {
            font-size: 50px;
            font-weight: bold;
            color: #5a1f1f;
            margin-top: 30px;
        }
        .subtitle {
            font-size: 24px;
            color: #555;
            margin-bottom: 50px;
        }
        .container {
            display: flex;
            gap: 40px;
            align-items: flex-start;
            justify-content: center; 
        }
        .card {
            background-color: #f8f8f8;
            border: 1.5px solid #ddd;
            border-radius: 10px;
            width: 400px;
            padding: 10px;
        }
        .card h3 {
            margin: 0;
            padding: 10px;
            background-color: #f0f0f0;
            font-size: 40px;
            color: #5a1f1f;
            border-bottom: 2px solid #ddd;
        }
        .card ul {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 26px;
        }
        .card ul li {
            padding: 10px;
            border-top: 1px solid #ddd;
        }
        .card ul li a {
	    display: block;
	    padding: 10px;
            text-decoration: none;
            color: #333;
        }
        .card ul li a:hover {
            color: #a33c2f;
	    background-color: #f0f0f0;
        }

